version: 0.2
env:
  variables:
    ACCOUNT_ID: ${account_id}
    build_template_name: ${build_template_name}
    DOCKERHUB_USER: ${dockerhub_user}
    repository_name: ${repository_name}
    codeartifact_repository: ${codeartifact_repository}
    codeartifact_domain: ${codeartifact_domain}
    domain_owner: ${codeartifact_account_id}
    environment: ${environment}
    image_repo: ${image_repo} 
    image_repo_name: ${image_repo_name} 
    proxy_name: ${proxy_name}
    %{ for config_key, config_value in container_env }${config_key}: ${config_value} 
    %{ endfor ~}

  exported-variables:
    - account_id
    %{ for config_key, config_value in container_env ~}- ${config_key }
    %{ endfor ~}

phases:
  build:
    commands:
      - echo "[ECHO] Running pre_build STEP at $(date)"
      - git clone https://github.com/vcrini/aws-utilities  -b 1.12.0   --depth=1 utilities
      - bash -ex utilities/codebuild/$build_template_name.sh
